@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @SharedLocalizer["AlpineSkiHouse"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/css/bootstrap-alpine.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap-alpine.min.css" asp-append-version="true" />
    </environment>
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/js/jspmconfig.js"></script>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">AlpineSkiHouse</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Conditions" asp-action="Index">Hill Conditions</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @await Component.InvokeAsync("CallCenterStatus")
        <footer>
            @await Html.PartialAsync("_CurrentLanguage")
            <p>&copy; @DateTime.Now.Year.ToString() - AlpineSkiHouse</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/tether/dist/tether.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
    <script>
        System.import("jquery");
        System.import("Pages/Home/Index");
        System.import("init");

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
