@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - @SharedLocalizer["AlpineSkiHouse"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/css/bootstrap-alpine.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap-alpine.min.css" asp-append-version="true" />
    </environment>
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/js/jspmconfig.js"></script>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>

<body>
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Alpine Ski House</a>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Conditions" asp-action="Index">Hill Conditions</a></li>
            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @await Component.InvokeAsync("CallCenterStatus")
        <footer>
            <p>
                @await Html.PartialAsync("_CurrentLanguage") &copy; @DateTime.Now.Year.ToString() - AlpineSkiHouse
                | <a asp-controller="Home" asp-action="About">Developer Information</a>
            </p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/tether/dist/tether.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    
    <script>
        System.import("jquery");
        System.import("Pages/Home/Index");
        System.import("init");

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
